body{
  background-image: url('../images/36.jpg');
  background-size: 100% 100%;
  background-position:center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
.icon{
  text-align: center;

  font-size: 45px;
  color: blue;
  margin: 0 !important;
}
.fnt2{
  font-family: pristina;
  text-shadow: 3px 3px 3px rgb(65, 64, 64);
}
.icon{
  /* display: flex; */
}
nav{
  box-shadow: 3px 3px 3px ;
}
.login{
  background-color: rgba(65,65, 65,40%);
}
.container{
  background-color: rgba(65,65, 65,40%);
  box-shadow: 3px 3px 3px gray;
}
.fd{
  color: white;
}
.dropbtn {
  color: white;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.flip-card-inner {
  /* position: relative; */
  /* width: 100%;
  height: 100%; */
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}
.mtn{
    margin-top: 50px;
}